MODE=development
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>
PORT=3000

# openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
